@using MyApplicationMetroNSK.Data.Models
@using MyApplicationMetroNSK.Data.Enums
@using MyApplicationMetroNSK.Extensions

@model ModelWorkedTimeCard

<h1>введи маршрут для удаления</h1>

@if (!ViewData.ModelState.IsValid)
{
    <div class="alert alert-danger">
        @foreach (var error in ViewData.ModelState.Values.SelectMany(v => v.Errors))
        {
            <p>@error.ErrorMessage</p>
        }
    </div>
}

<form asp-controller="TimeCard" asp-action="DeleteTimeCard" method="post" class="form-inline justify-content-center">
    <div class="form-group">
        <label for="NumberTimeCard">Номер маршрута:</label>
        <input type="text" class="form-control" id="NumberTimeCard" name="NumberTimeCard" value="@Model.NumberTimeCard" required />
    </div>

    <div class="form-group mb-2">
        <label for="WorkType">Тип работы:</label>
        <select id="WorkType" asp-for="WorkType" class="form-control">
            @foreach (WorkType workType in Enum.GetValues(typeof(WorkType)))
            {
                <option value="@workType">@workType.GetDisplayName()</option>
            }
        </select>
    </div>

    <div class="form-group mb-2">
        <label for="DayOfWeek">День недели:</label>
        <select id="DayOfWeek" asp-for="DayOfWeek" class="form-control">
            @foreach (MyApplicationMetroNSK.Data.Enums.DayOfWeek day in Enum.GetValues(typeof(MyApplicationMetroNSK.Data.Enums.DayOfWeek)))
            {
                <option value="@((int)day)">@day.GetDisplayName()</option>
            }
        </select>
    </div>

    <div class="form-group mb-2">
        <label for="Month">Месяц:</label>
        <select id="Month" name="month" asp-for="WorkDate" class="form-control">
            @foreach (Month month in Enum.GetValues(typeof(Month)))
            {
                <option value="@((int)month)">@month.GetDisplayName()</option>
            }
        </select>
    </div>

    <button type="submit" class="btn btn-danger">Удалить</button>
    <button onclick="location.href='@Url.Action("Main", "View")'" class="btn btn-success">вернуться на главную</button>
</form>