@using MyApplicationMetroNSK.ViewModels

@model List<ModelDataForCalculation>

<div class="text-center">
    <h1>Коэфиценты для расчёта зарплаты</h1>
    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>Ставка</th>
                <th>Класс</th>
                <th>Выслуга</th>
            </tr>
        </thead>
        <tbody>
            @foreach(var item in Model)
            {
                <tr>
                    <td>@item.TariffRate</td>
                    <td>@item.Qualification</td>
                    <td>@item.LengthOfService</td>
                </tr>
            }
        </tbody>
    </table>
</div>
<button onclick="window.location.href='@Url.Action("Main", "View")'" class="btn btn-success">Вернуться на главную</button>
<button onclick="window.location.href='@Url.Action("ViewChangeCoefficients", "View")'" class="btn btn-success">Изменить</button>